
<div class="container mt-4">
    <h3>Comments</h3>
    <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Anonym</h5>
                        <div class="mb-3">
                            <partial name="_RatingPartial" />
                        </div>
                        <p class="card-text">Väldigt fin tröja!</p>
                    </div>
                </div>
            </div>
    </div>
</div>