<nav class="menu">
    <a asp-controller="Home" asp-action="Index" class="menu-link">Home</a>
    <a asp-controller="Product" asp-action="Index" class="menu-link">Products</a>
    <a asp-controller="Contact" asp-action="Index" class="menu-link">Contacts</a>
</nav>