<section class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/office-style.png" alt="Left Image" class="img-fluid">
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
            <h2 class="text-center">50% offer</h2>
            <h4 class="text-center">Jättebra pris</h4>
            <p class="text-center">Flashsale!</p>
        </div>
        <div class="col-md-4">
            <img src="~/images/party-style.png" alt="Left Image" class="img-fluid">
        </div>
    </div>
</section>
