@model IEnumerable<ProductModel>
@{
    int counter = 0;
}

<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <h2 class="mb-3">2 för 29$</h2>
        </div>
        <div class="col-md-9">
            <div class="row">
                @foreach(var item in Model)
                {
                    if(item.Price <= 299 && counter < 8)
                    {
                        <div class="col">
                            <div class="card">
                                <div class="card-img-container">
                                    <img src="https://www.mrporter.com/variants/images/4068790126411224/in/w2000_q60.jpg" class="card-img-top" alt="..." />
                                    <div class="card-menu d-xl-none">
                                        <button class="menu-link"><i class="fa-regular fa-heart"></i></button>
                                        <button class="menu-link"><i class="fa-regular fa-code-compare"></i></button>
                                        <button class="menu-link"><i class="fa-regular fa-bag-shopping"></i></button>
                                    </div>
                                    <a asp-controller="Product" asp-action="Details" asp-route-articleNumber="@item.ArticleNumber" class="btn btn-theme w-100 d-xl-none">QUICK VIEW</a>
                                </div>

                                <div class="card-body">
                                    <p class="card-category">@item.Tag</p>
                                    <h5 class="card-title">@item.Name</h5>
                                    <partial name="_RatingPartial" />
                                    <p class="card-price">@item.Price</p>
                                </div>

                            </div>
                        </div>
                        counter++;
                    }
                }
            </div>
        </div>
    </div>
</div>
