@model ProductModel
@{
    ViewData["Title"] = "Product Details";
}

<div class="container product-details-container">
    <div class="row">
        <div class="col-md-6">
            <img src="https://www.mrporter.com/variants/images/4068790126411224/in/w2000_q60.jpg" class="img-fluid product-image" alt="@Model.Name" />
        </div>
        <div class="col-md-6 product-info">
            <h2>@Model.Name</h2>
            <p>@Model.Description</p>
            <partial name="_RatingPartial" />
            <h4>@Model.Price</h4>
            <button class="btn btn-primary add-to-cart-btn">Add to Cart</button>
            <div class="sizes">
                <div class="size">S</div>
                <div class="size">M</div>
                <div class="size">L</div>
                <div class="size">XL</div>
            </div>
        </div>
    </div>
</div>
<partial name="_CommentsPartial"/>